<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GS.Cdiscount.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GS.Cdiscount.Properties.Settings>
            <setting name="GS_Cdiscount_CdiscoundService_MarketplaceAPIService"
                serializeAs="String">
                <value>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</value>
            </setting>
        </GS.Cdiscount.Properties.Settings>
    </applicationSettings>
</configuration>